[moonraker]
ip_address = http://192.168.86.32:7125

[general]
#pause_after_move: delay between the printer reaching a location and the next command in seconds 
pause_after_move = 2

[motor_gpio_pins]
motor_control_input_1 = 29
motor_control_input_2 = 31
#motor_enable: PWM pin
motor_enable = 32

[clean_cycle]
receptacle_location_x = 87
receptacle_location_y = 87
#receptacle_location_wash_z: fluid location in receptacle
receptacle_location_wash_z = 155
#receptacle_location_expel_z: space in receptacle to expel fluid
receptacle_location_expel_z = 235
#receptacle_height: expressed in mm
receptacle_height = 175
#receptacle_clearance: how far to move the basket clear of the receptacle. Distance from receptacle_location_expel_z in mm
receptacle_clearance = 85

[clean_cycle_wash]
#duration: expressed in seconds
duration = 10
#mode: agitate or spin
mode = agitate
# if wash mode is spin
# direction: forward or backward
# direction
#speed: expressed as a percentage of max motor RPMs
# speed = 0
# if wash mode is agitate
#speed_forward: expressed as a percentage of max motor RPMs
speed_forward = 100
#time_forward:expressed in seconds
time_forward = 1
#time_brake_forward: expressed in seconds
time_brake_forward = 0.5
#speed_backward: expressed as a percentage of max motor RPMs
speed_backward = 100
#time_backward: expressed in seconds
time_backward = 1
#time_brake_backward: expressed in seconds
time_brake_backward = 0.5

[clean_cycle_expel]
#duration: expressed in seconds
duration = 5
#mode: agitate or spin
mode = spin
# if wash mode is spin
# direction: forward or backward
direction = forward
#speed: expressed as a percentage of max motor RPMs
speed = 100
# if wash mode is agitate
#speed_forward: expressed as a percentage of max motor RPMs
# speed_forward = 30
#time_forward:expressed in seconds
# time_forward = 1
#time_brake_forward: expressed in seconds
# time_brake_forward = 0.5
#speed_backward: expressed as a percentage of max motor RPMs
# speed_backward = 30
#time_backward: expressed in seconds
# time_backward = 1
#time_brake_backward: expressed in seconds
# time_brake_backward = 0.5

[rinse_cycle_1]
receptacle_location_x = 245
receptacle_location_y = 90
#receptacle_location_wash_z: fluid location in receptacle
receptacle_location_wash_z = 155
#receptacle_location_expel_z: space in receptacle to expel fluid
receptacle_location_expel_z = 235
#receptacle_height: expressed in mm
receptacle_height = 175
#receptacle_clearance: how far to move the basket clear of the receptacle. Distance from receptacle_location_expel_z in mm
receptacle_clearance = 85

[rinse_cycle_1_wash]
#duration: expressed in seconds
duration = 5
#mode: agitate or spin
mode = agitate
# if wash mode is spin
# direction: forward or backward
# direction
#speed: expressed as a percentage of max motor RPMs
# speed = 0
# if wash mode is agitate
#speed_forward: expressed as a percentage of max motor RPMs
speed_forward = 100
#time_forward:expressed in seconds
time_forward = 1
#time_brake_forward: expressed in seconds
time_brake_forward = 0.5
#speed_backward: expressed as a percentage of max motor RPMs
speed_backward = 100
#time_backward: expressed in seconds
time_backward = 1
#time_brake_backward: expressed in seconds
time_brake_backward = 0.5

[rinse_cycle_1_expel]
#duration: expressed in seconds
duration = 5
#mode: agitate or spin
mode = spin
# if wash mode is spin
# direction: forward or backward
direction = forward
#speed: expressed as a percentage of max motor RPMs
speed = 100
# if wash mode is agitate
#speed_forward: expressed as a percentage of max motor RPMs
# speed_forward = 30
#time_forward:expressed in seconds
# time_forward = 1
#time_brake_forward: expressed in seconds
# time_brake_forward = 0.5
#speed_backward: expressed as a percentage of max motor RPMs
# speed_backward = 30
#time_backward: expressed in seconds
# time_backward = 1
#time_brake_backward: expressed in seconds
# time_brake_backward = 0.5

[rinse_cycle_2]
receptacle_location_x = 245
receptacle_location_y = 248
#receptacle_location_wash_z: fluid location in receptacle
receptacle_location_wash_z = 155
#receptacle_location_expel_z: space in receptacle to expel fluid
receptacle_location_expel_z = 235
#receptacle_height: expressed in mm
receptacle_height = 175
#receptacle_clearance: how far to move the basket clear of the receptacle. Distance from receptacle_location_expel_z in mm
receptacle_clearance = 85

[rinse_cycle_2_wash]
#duration: expressed in seconds
duration = 5
#mode: agitate or spin
mode = agitate
# if wash mode is spin
# direction: forward or backward
# direction
#speed: expressed as a percentage of max motor RPMs
# speed = 0
# if wash mode is agitate
#speed_forward: expressed as a percentage of max motor RPMs
speed_forward = 100
#time_forward:expressed in seconds
time_forward = 1
#time_brake_forward: expressed in seconds
time_brake_forward = 0.5
#speed_backward: expressed as a percentage of max motor RPMs
speed_backward = 100
#time_backward: expressed in seconds
time_backward = 1
#time_brake_backward: expressed in seconds
time_brake_backward = 0.5

[rinse_cycle_2_expel]
#duration: expressed in seconds
duration = 5
#mode: agitate or spin
mode = spin
# if wash mode is spin
# direction: forward or backward
direction = forward
#speed: expressed as a percentage of max motor RPMs
speed = 100
# if wash mode is agitate
#speed_forward: expressed as a percentage of max motor RPMs
# speed_forward = 30
#time_forward:expressed in seconds
# time_forward = 1
#time_brake_forward: expressed in seconds
# time_brake_forward = 0.5
#speed_backward: expressed as a percentage of max motor RPMs
# speed_backward = 30
#time_backward: expressed in seconds
# time_backward = 1
#time_brake_backward: expressed in seconds
# time_brake_backward = 0.5

[dry_cycle]
receptacle_location_x = 0
receptacle_location_y = 0
#receptacle_location_wash_z: fluid location in receptacle
receptacle_location_wash_z = 155
#receptacle_location_expel_z: space in receptacle to expel fluid
receptacle_location_expel_z = 235
#receptacle_height: expressed in mm
receptacle_height = 175
#receptacle_clearance: how far to move the basket clear of the receptacle. Distance from receptacle_location_expel_z in mm
receptacle_clearance = 85